.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
}
.mobile1, .mobile2 {
    display: none;
}
.cabecalho__pesquisar__item {
    display: flex;
    gap: 1rem;
}
.cabecalho__pesquisar__item form {
    display: flex;
    justify-content: center;
}
.cabecalho__icones__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.menu__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    height: calc(100vh - 5rem);
    overflow-y: auto;
}
.menu__lista {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.menu__lista li a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.superior__secao__container {
    display: flex;
    justify-content: space-around;
    gap: 0.25rem;
    align-items: center;
}
.listaDesktop {
    flex-direction: column-reverse;
}
.rodape__container {
    display: flex;
    justify-content: space-evenly;
}
.rodape__container section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.videos__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.videos__item {
    display: flex;
    flex-direction: column;
}
.descricao-video {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.descricao__video__texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width: 834px) {
    .desktop {
        display: none;
    }
    .mobile1 {
        display: block;
    }
    .menu__itens {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .listaDesktop {
        display: none;
    }
    .menu__lista {
        gap: 1rem;
    }
    .rodape__container {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 674px) {
    .cabecalho__pesquisar__item {
        display: none;
    }
}
@media screen and (max-width: 428px) {
    .menu__container {
        flex-direction: row;
        top: auto;
        width: 100vw;
        height: max-content;
        overflow-y: hidden;
        bottom: 0;
    }
    .superior__secao__container {
        left: 0;
        width: 100vw;
    }
    .menu__lista {
        gap: 0.25rem;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .rodape__container {
        margin: auto;
        height: max-content;
        margin-bottom: 6.625rem;
    }
    .rodape__container section {
        align-items: center;
    }
}